.App {
  text-align: center;
 /*background-image: url('C:\Users\DELL INSPIRON\OneDrive - UNPGGL\Escritorio\actividad2\public\Fondo.jpg');*/
 background-size: cover;
background-position: cover;
background-repeat: no-repeat;
background-color: #fad9d9a9;
width: 100%;

}




